﻿<footer class="footer row">
    <ul class="col-sm-6 col-md-3">
        <li><h3>Vestibulum</h3></li>
        <li>Donec</li>
        <li>Cras</li>
        <li>Proin</li>
        <li>Donec</li>
    </ul>
    <ul class="col-sm-6 col-md-3">
        <li><h3>Vivamus</h3></li>
        <li>Praesent</li>
        <li>Curae</li>
        <li>Nulla</li>
        <li>Donec</li>
    </ul>
    <ul class="col-sm-6 col-md-3">
        <li><h3>Kontakt</h3></li>
        <li><b>Peakontor: Tallinas</b></li>
        <li>Mustamäe tee 195, 12913 Tallinn</li>
        <li>Telefon: 6624627</li>
        <li>Faks: 60245267</li>
    </ul>
    <ul class="col-sm-6 col-md-3">
        <li><h3>&nbsp;</h3></li>
        <li><b>Harukontor: Tartus</b></li>
        <li>Anne 38, 50601 Tartu</li>
        <li>Telefon: 6054414</li>
        <li>Faks: 6035656</li>
    </ul>
</footer>
