﻿<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="@Url.Action("Index", "Home")"><img class="navbar-left" id="logo" src="~/Content/img/logo.svg" /></a>
        </div>
        <div class="navbar-collapse collapse ">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Avaleht", "Index", "Home")</li>
                <li>@Html.ActionLink("Ürituse lisamine", "Add", "Meetings")</li>
            </ul>
        </div>
    </div>
</div>
