﻿<div class="row" id="subTitle">
    <div class="col-md-3 hidden-xs hidden-sm subTitle-logo bg-primary">
        <h3>@ViewBag.SubTitle</h3>
    </div>
    <div class="col-md-9 hidden-xs hidden-sm">
        <div class="subTitle-logo-pic"><!-- Libled backgroundimagne --></div>
    </div>
</div>
