﻿@model Events.Core.ViewModels.BuisnessAttendanceFormViewModel

<!--Ettevõte Lisamis/Muutmise vormi keha-->

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.MeetingId)

<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "text-left col-sm-4 control-label" })
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "Nimi on kohustuslik", new { @class = "field-validation-error" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.IdentityCode, new { @class = "text-left col-sm-4 control-label" })
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.IdentityCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.IdentityCode, "Registrikood on kohustuslik", new { @class = "field-validation-error" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.NumOfParticipants, new { @class = "text-left col-sm-4 control-label" })
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.NumOfParticipants, new { @class = "form-control" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.PaymentTypeId, new { @class = "text-left col-sm-4 control-label" })
    <div class="col-sm-8">
        @Html.DropDownListFor(m => m.PaymentTypeId, new SelectList(Model.PaymentTypes, "Id", "Type"), "", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PaymentTypeId, "Maksetüüp on kohustuslik", new { @class = "field-validation-error" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ExtraInfo, new { @class = "text-left col-sm-4 control-label" })
    <div class="col-sm-8">
        @Html.TextAreaFor(m => m.ExtraInfo, 3, 3, new { @class = "form-control" })
    </div>
</div>
