﻿@model Events.Core.ViewModels.IndividualAttendanceFormViewModel

<!-- Eraisiku lisamise/muutmise vormi keha -->

@Html.AntiForgeryToken()
@Html.HiddenFor(m => m.MeetingId)

<div class="form-group">
    @Html.LabelFor(m => m.FirstName, new { @class = "text-left col-sm-4 control-label" })
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.FirstName, "Eesnimi on kohustuslik", new { @class = "field-validation-error" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.LastName, new { @class = "text-left col-sm-4 control-label" })
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.LastName, "Perekonnanimi on kohustuslik", new { @class = "field-validation-error" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.IdentityCode, new { @class = "text-left col-sm-4 control-label" })
    <div class="col-sm-8">
        @Html.TextBoxFor(m => m.IdentityCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.IdentityCode, "Isikukood on kohustuslik ja pikkus peab olema 11 numbrit", new { @class = "field-validation-error" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.PaymentTypeId, new { @class = "text-left col-sm-4 control-label" })
    <div class="col-sm-8">
        @Html.DropDownListFor(m => m.PaymentTypeId, new SelectList(Model.PaymentTypes, "Id", "Type"), "", new { @class = "form-control"})
        @Html.ValidationMessageFor(m => m.PaymentTypeId, "Makseviis on kohustuslik", new { @class = "field-validation-error" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ExtraInfo, new { @class = "text-left col-sm-4 control-label" })
    <div class="col-sm-8">
        @Html.TextAreaFor(m => m.ExtraInfo, 3, 3, new { @class = "form-control" })
    </div>
</div>


