﻿@model Events.Core.ViewModels.BuisnessAttendanceFormViewModel
@{
    ViewBag.Title = "Lisa ettevõte";
    ViewBag.SubTitle = "Lisa ettevõte";
}

@Html.Partial("_SubTitle")

<section class="row">
    <div class="col-md-6 col-md-push-2">

        @using (Html.BeginForm("AddBuisness", "Attendance", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <!-- Ettevõtte vormi sisu-->
            @Html.Partial("_BuisnessForm")

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    @Html.ActionLink("Ürituse juurde", "Details", "Meetings", new { Id = Model.MeetingId }, new { @class = "btn btn-default" })
                    <button type="submit" class="btn btn-primary">Salvesta</button>
                </div>
            </div>
        }

    </div>

</section>