﻿@model Events.Core.ViewModels.IndividualAttendanceFormViewModel
@{
    ViewBag.Title = "Lisa osavõtja";
    ViewBag.SubTitle = "Lisa osavõtja";
}

@Html.Partial("_SubTitle")

<section class="row">
    <div class="col-md-6 col-md-push-2">

        @using (Html.BeginForm("AddIndividual", "Attendance", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <!-- Eraisiku vormi keha -->
            @Html.Partial("_IndividualForm")

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    @Html.ActionLink("Ürituse juurde", "Details", "Meetings", new { Id = Model.MeetingId }, new { @class = "btn btn-default" })
                    <button type="submit" class="btn btn-primary">Salvesta</button>
                </div>
            </div>
        }

    </div>

</section>