﻿@model Events.Core.ViewModels.IndividualAttendanceFormViewModel
@{
    ViewBag.Title = "Muuda andmeid";
    ViewBag.SubTitle = "Muuda andmeid";
}

@Html.Partial("_SubTitle")

<section class="row">
    <div class="col-md-6 col-md-push-2">
        <p class="text-danger">@ViewBag.Error</p>
        @using (Html.BeginForm("EditIndividual", "Attendance", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            <!-- Eraisiku vormi keha -->
            @Html.Partial("_IndividualForm")
            @Html.HiddenFor(m => m.Id)

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    @Html.ActionLink("Tagasi", "Details", "Meetings", new { Id = Model.MeetingId }, new { @class = "btn btn-default" })
                    <button type="submit" class="btn btn-primary">Salvesta</button>
                </div>
            </div>
        }

    </div>

</section>