﻿@model Events.Core.ViewModels.UpcomingPassedMeetingsViewModel

@{
    ViewBag.Title = "Üritused";

    // Muutujad, et kuvada ürituste ees järjekorranumbrit
    int counter1 = 1;
    int counter2 = 1;
}


<!-- Illustreeriv tekst/pilt avalehel -->
<section class="row even-columns hidden-xs hidden-sm">
    <div class="col-xs-6 bg-primary text-center">
        <h3 class="welcomeText">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat.
            Nulla porttitor accumsan tincidunt. Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus.
            Vivamus magna justo, lacinia eget consectetur sed
        </h3>
    </div>
    <div class="col-xs-6 welcomePicture">
        <img src=@Url.Content("~/Content/img/pilt.jpg") alt="" />
    </div>
</section>

<!-- Tulevased üritused -->
<section class="row">
    <section class="col-md-6">
        <div class="panel panel-primary">
            <h2 class="text-center panel-heading">Tulevased üritused</h2>
            <table class="table" id="upcomingMeetings">

                @foreach (var item in Model.UpcomingMeetings)
                {
                    <tr>
                        <th>@($"{counter1}. ")@Html.ActionLink(item.Name, "Details", "Meetings", new { Id = item.Id }, null)</th>
                        <td>@item.Date.ToString("dd.MM.yyyy")</td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    LISA OSAVÕTJA <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        @Html.ActionLink("Eraisik", "Add", "Attendance", new { meetingId = item.Id, attendeeType = "Individual" }, null)
                                    </li>
                                    <li>
                                        @Html.ActionLink("Ettevõte", "Add", "Attendance", new { meetingId = item.Id, attendeeType = "Buisness" }, null)
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            <span data-id="@item.Id" data-name="@item.Name" class="glyphicon glyphicon-remove delete-icon pull-right" aria-hidden="true"></span>
                        </td>
                    </tr>
                    counter1++;
                }

            </table>

        </div>
    </section>

    <!-- Möödunud üritused -->
    <section class="col-md-6">
        <div class="panel panel-primary">
            <h2 class="text-center panel-heading">Toimunud üritused</h2>

            <table class="table">
                @foreach (var item in Model.PassedMeetings)
                {
                    <tr>
                        <td>@($"{counter2}. ")@Html.ActionLink(item.Name, "Details", "Meetings", new { Id = item.Id }, null)</td>
                        <td>@item.Date.ToString("dd.MM.yyyy")</td>
                    </tr>
                    counter2++;
                }

            </table>

        </div>
    </section>
</section>

@section Scripts
{
    <script>

        $(document).ready(function () {

            $('#upcomingMeetings td span').on('click', function () {
                DeleteEntry($(this), "Kas olete kindel, et soovite kustutada üritust", "/Meetings/Delete/", ajaxDelete);
            });

        });

    </script>

}