﻿@model Events.Core.ViewModels.MeetingsFormViewModel


<!-- Ürituse lisamise/muutmise vormi keha -->

@Html.AntiForgeryToken()

<div class="form-group">
    @Html.LabelFor(m => m.Name, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-10">
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name, "Nimi on kohustuslik", new { @class = "field-validation-error" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Location, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-10">
        @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Location, "Asukoht on kohustuslik", new { @class = "field-validation-error" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Date, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-10">
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control datepicker" })
        @Html.ValidationMessageFor(m => m.Date, "Kuupäev on kohustuslik", new { @class = "field-validation-error" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.Time, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-10">
        @Html.TextBoxFor(m => m.Time, new { @class = "form-control", placeholder = "18:00" })
        @Html.ValidationMessageFor(m => m.Time, "Kellaaeg on kohustuslik ja peab olema 24h formaadis", new { @class = "field-validation-error" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(m => m.ExtraInfo, new { @class = "col-sm-2 control-label" })
    <div class="col-sm-10">
        @Html.TextBoxFor(m => m.ExtraInfo, new { @class = "form-control" })
    </div>
</div>


