﻿@model Events.Core.ViewModels.MeetingsFormViewModel

@{
    ViewBag.Title = "Lisa Üritus";
    ViewBag.SubTitle = "Lisa üritus";
}

@Html.Partial("_SubTitle")

<section class="row">
    <div class="col-md-6 col-md-push-2">

        @using (Html.BeginForm("Add", "Meetings", FormMethod.Post, new { @class = "form-horizontal" }))
        {

            <!-- Ürituse vormi sisu -->   
            @Html.Partial("_MeetingForm")

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    @Html.ActionLink("Tagasi", "Index", "Home", null, new { @class = "btn btn-default" })
                    <button type="submit" class="btn btn-primary">Salvesta</button>
                </div>
            </div>
        }
    </div>

</section>
