﻿@model Events.Core.ViewModels.MeetingsDetailViewModel

@{
    ViewBag.Title = "Ürituse detailid";
    ViewBag.SubTitle = "Ürituse info";
}

@Html.Partial("_SubTitle")

<!-- Ürituse info -->
<section class="row">
    <div class="col-md-4 col-md-push-3">
        <table class="table table-borderless" id="meetingInfo">
            <tr>
                <th>@Html.DisplayNameFor(m => m.Name):</th>
                <td>@Html.DisplayFor(m => m.Name)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Location):</th>
                <td>@Html.DisplayFor(m => m.Location)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(m => m.Date):</th>
                <td>@Html.DisplayFor(m => m.Date)</td>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(m => m.ExtraInfo):</th>
                <td>@Html.DisplayFor(m => m.ExtraInfo)</td>
            </tr>
            <tr>
                <td>
                    @if (Model.Date >= DateTime.Now)
                    {
                            @Html.ActionLink("MUUDA", "Edit", "Meetings", new { Id = Model.Id }, new { @class = "btn btn-warning btn-xs" })
                    }
                </td>
            </tr>
        </table>
    </div>
</section>

<!-- Ürituse osavõtjad -->
<section class="row">
    <div class="col-md-6 col-md-push-3">
        <h3>Osavõtjad:</h3>
        <table class="table table-borderless" id="attendees">

            @foreach (var item in Model.Attendees)
            {
                <tr>
                    <td>@Html.ActionLink(item.Name, "Edit", "Attendance", new { Id = item.Id }, null)</td>
                    <td>@item.IdentityCode</td>
                    <td><span data-id="@item.Id" data-name="@item.Name" class="glyphicon glyphicon-remove delete-icon" aria-hidden="true"></span></td>
                </tr>
            }

        </table>
    </div>
</section>

<section class="row">
    <div class="col-md-6 col-md-push-3">
        @Html.ActionLink("Tagasi", "Index", "Home", null, new { @class = "btn btn-default" })

        <!-- If the meeting has not yet been hold, then you can add attendances -->
        @if (Model.Date >= DateTime.Now)
        {
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Lisa osavõtja <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("Eraisik", "Add", "Attendance", new { meetingId = Model.Id, attendeeType = "Individual" }, null)
                    </li>
                    <li>
                        @Html.ActionLink("Ettevõte", "Add", "Attendance", new { meetingId = Model.Id, attendeeType = "Buisness" }, null)
                    </li>
                </ul>
            </div>
        }

    </div>
</section>


@section Scripts 
{
    <script>

        $(document).ready(function () {

            $('#attendees td span').on('click', function () {
                DeleteEntry($(this),"Kas olete kindet, et soovite kustutada osavõtja", "/Attendance/Delete/", ajaxDelete);
            });

        });

    </script>

}