﻿@model Events.Core.ViewModels.MeetingsFormViewModel

@{
    ViewBag.Title = "Muuda Üritust";
    ViewBag.SubTitle = "Muuda ürituse andmeid";
}


@Html.Partial("_SubTitle")

<section class="row">
    <div class="col-md-6 col-md-push-2">

        @using (Html.BeginForm("Edit", "Meetings", FormMethod.Post, new { @class = "form-horizontal" }))
        {

            @Html.HiddenFor(m => m.Id)

            <!-- Ürituse vormi sisu -->
            @Html.Partial("_MeetingForm")

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    @Html.ActionLink("Tagasi", "Details", "Meetings", new { Id = Model.Id }, new { @class = "btn btn-default" })
                    <button type="submit" class="btn btn-primary">Salvesta</button>
                </div>
            </div>
        }
    </div>

</section>


