﻿
/*** MAIN STYLES ***/

body {
    padding-top: 10px;
}

.table-borderless > thead > tr > th,
.table-borderless > tbody > tr > th,
.table-borderless > tfoot > tr > th,
.table-borderless > thead > tr > td,
.table-borderless > tbody > tr > td,
.table-borderless > tfoot > tr > td
{
    border: hidden;
}

.delete-icon:hover {
    cursor: pointer;
    color: red;
}

#logo {
    padding-top: 5px;
}

.field-validation-valid {
    display: none;
}

.field-validation-error {
    color: red;
}

/*** SubTitle Partial ***/

#subTitle {
    margin-left: 2px;
    margin-bottom: 30px;
}

.subTitle-logo {
    padding-left: 20px;
    padding-right: 20px;
    height: 100px;
}

.subTitle-logo-pic {
    margin-left: -15px;
    height: 100px;
    background-image: url("../Content/img/libled.jpg");
}

/*** END SubTitle Partial ***/



/*** /Home/Index ***/

/*Even height bootstrap columns*/
.row.even-columns {
    overflow: hidden;
    margin-right: 1px;
    margin-left: 1px;
}

.row.even-columns [class*="col-"] {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.welcomeText {
    padding: 7% 10%;
}

div.col-xs-6.welcomePicture {
    margin-left: -15px;
}

/*** END /Home/Index**/



/*** Footer ***/
.footer {
    background: #f6f6f6;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 50px;
    border-radius: 2px;
    border: .5px solid #ededed;
}

.footer ul {
    padding: 15px;
    list-style: none;
}

/*** END Footer ***/



/* Bootstrap Overrides */
@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('fonts/glyphicons-halflings-regular.eot');
    src: url('fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/glyphicons-halflings-regular.woff') format('woff'), url('fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

.navbar-default .navbar-collapse > ul {
    padding-left: 80px;
}

.panel-primary {
    border: none;
}

.form-group > div > .input-validation-error {
    border: 2px solid red;
}

